<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="script/angular.min.js"></script>
    <script src="script/app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             ng-model="lunchItems"> Items listed as , , or ,, will not be counted towards your total!
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkIfTooMuch()">
               Check If Too Much
             </button>
         </div>
         <div class="form-group message" ng-model="lunchMessage" ng-style="getMessageStyle()">
           <!-- Your message can go here. -->
           {{lunchMessage}}
         </div>
   </div>

</body>
</html>
