<div class="container">
  <h2 id="sign-up-title" class="text-center">Sign Up</h2>
  <fieldset ng-if="!signUp.completed">
  	<legend>Registration Form</legend>
  	<form name="signUpForm" novalidate>
  		<!-- The sign up form should ask for the following information: first name, last name, email address, and phone number. It should also ask the user to specify the menu number that's their favorite dish. (The menu number is the short_name attribute of each menu item). -->
  		<input type="text" name="firstName" placeholder="Enter your first name."
          ng-model="signUp.user.firstName"
          required
          minlength="2"
          ng-maxlength="15">
          <!-- {{ signUp.user.firstName }} -->
          <span
            ng-if="(signUpForm.firstName.$error.minlength || signUpForm.firstName.$error.required) && signUpForm.firstName.$touched">
            First name must be at least 2 characters long
          </span>
          <span ng-if="signUpForm.firstName.$error.maxlength && signUpForm.firstName.$touched">
            First name must not be longer than 15 characters
          </span>
          <br>

        <input type="text" name="lastName" placeholder="Enter your last name"
          ng-model="signUp.user.lastName"
          required
          minlength="2"
          ng-maxlength="15">
          <!-- {{ signUp.user.lastName }} -->
          <span
            ng-if="(signUpForm.lastName.$error.minlength || signUpForm.lastName.$error.required) && signUpForm.lastName.$touched">
            Last name must be at least 2 characters long
          </span>
          <span ng-if="signUpForm.lastName.$error.maxlength && signUpForm.lastName.$touched">
            Last name must not be longer than 15 characters
          </span>
          <br>
            
  		<input type="email" name="email" placeholder="Email"
          ng-model="signUp.user.email"
          required>
          <span ng-if="signUpForm.email.$invalid && signUpForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>

        <input type="text" name="phone" placeholder="Phone ###-###-####"
          ng-model="signUp.user.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})">
          <span ng-if="signUpForm.phone.$invalid && signUpForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
          <br>

        <input type="text" name="shortName" placeholder="Enter your favorite dish short name."
          ng-model="signUp.user.shortName"
          required
          minlength="2"
          ng-maxlength="5"
          ng-change="signUp.validateShortName()">
          <!-- {{ signUp.user.shortName }} -->
          <span
            ng-if="(signUpForm.shortName.$error.minlength || signUpForm.shortName.$error.required) && signUpForm.shortName.$touched">
            Favorite dish short name must be at least 2 characters long
          </span>
          <span ng-if="signUpForm.shortName.$error.maxlength && signUpForm.shortName.$touched">
            Favorite dish short name must not be longer than 5 characters
          </span>
          <span ng-if="!signUp.validShortName">
            Favorite dish short name does not exist, please try another.
          </span>
          <br>
<!-- signUpForm.$invalid -->
        <button
          ng-if="!(signUpForm.$invalid) && (signUp.validShortName)"
          ng-click="signUp.submit()">Submit</button>

          <!-- <div style="margin-top: 10px;">
            Sign up Form valid to submit? {{ signUpForm.$valid }}
          </div>   -->
  	</form>
  </fieldset>
  <div class="text-center" ng-if="signUp.completed">
    Your information has been saved
  </div>

</div>
